body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}
.navbar-brand img {
    height: 40px;
}
.hero-section {
    background:  url('../src/assets/66f48792e4d96.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.about-img{
    width: 100%;
}
.cart-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.cart-sidebar.open {
    transform: translateX(0);
}
.wishlist-heart {
    cursor: pointer;
    color: #dc3545;
}